@{
    ViewData["Title"] = "- Home";
    ViewData["Header1"] = "Experience the Spirit of the Lord";
}
<br />
<div class="text-center">
    <img class="rounded" src="~/img/temple.jpg" />
    <h5>And they shall be gathered into the garners, that they are not wasted” (Alma 26:5).</h5>
</div>
<br />
<br />
<h3>Come and Experience the House of the Lord</h3>
<br />
<p>Throughout this dispensation, members of the First Presidency and the Quorum of the Twelve 
    Apostles have spoken frequently about the ordinances and covenants of the temple.</p>
<br />
<h6>General Tour Instructions</h6>
<ul>
    <li>Masks are required.</li>
    <li>Please park on Rosewood (west side of temple) and meet at the Visitors Center trailer</li>
    <li>Dress casual, except on Sunday</li>
</ul>
<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gf_Diac7Mb8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>